<!DOCTYPE html>
<html>

<head>

  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="/css/todomvc-common.css">
  <link rel="stylesheet" href="/css/todomvc-app-css.css">
  <title>todos - react-query</title>
</head>

<body>
  <div class="app-container" id="root"></div>
  <noscript>
    You need to enable JavaScript to run this app.
  </noscript>
  <footer class='info'>
    <p>Double-click to edit a todo</p>
    <p>
      Template by <a href='http://sindresorhus.com'>Sindre Sorhus</a>
    </p>
    <p>
      Created by <a href='https://github.com/gowda'>gowda</a>
    </p>
    <p>
      Part of <a href='http://todomvc.com'>TodoMVC</a>
    </p>
  </footer>
  <script src='/todomvc-common.js'></script>
</body>

</html>
